@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Inter;
}

body {
  background-color: #181A20;
  height: 100vh;
  width: 100vw;
  min-width: 360px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  width: 85%;
}

.menu span {
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #192131;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.bomdia {
  display: flex;
  flex-direction: column;
  color: #FFF;
  gap: 3px;
}

.nome-do-usuario {
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #192131;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.notification span {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartao {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3576FD;
  height: 200px;
  width: 90%;
  border-radius: 10px;
}

.cartao p {
  color: #FFF;
  font-size: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2px;
}

.lista-status {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 25px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #192131;
  width: 30%;
  min-width: 105px;
  height: 90px;
  border-radius: 5px;
}

.valor {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: -3px;
}

.titulo {
  color: #FFF;
  margin-top: 12px;
}

#north {
  color: #1BA94A;
}

.dinheiro-recebido {
  color: #1BA94A;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

#south {
  color: #F35454;
}

.dinheiro-despesas {
  color: #F35454;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.dinheiro-restante {
  margin-top: 4px;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.container-atividades {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: #1BA94A solid; */
  width: 90%;
  margin-top: 20px;
}

.atividades-recentes {
  color: #FFF;
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
}

.calendar {
  display: flex;
  align-items: center;
  gap: 5px;
}

#cad {
  color: #FFF;
  font-size: 28px;
}

.calendar p {
  color: #FFF;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

.hoje {
  width: 90%;
  margin-top: 5px;
  color: #9D9E9E;
}

.lista-historico {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
  margin-top: 15px;
}

.historico {
  padding: 0px 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.lista-historico li {
  background-color: #1F222A;
  border-radius: 40px;
  padding: 0px 20px;
}

.parte-I {
  color: #FFF;
}

.item {
  font-size: 20px;
  font-weight: bold;
}

.categoria {
  color: #9D9E9E;
}

.parte-II {
  display: flex;
  align-items: center;
  color: #F35454;
}

.valor-lista {
  margin-top: 1px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

#salario {
  color: #1BA94A;
}

#trash {
  font-size: 28px;
}

@media screen and (min-width: 400px) {
  li {
    min-width: 110px;
  }
}

@media screen and (min-width: 600px) {
  body {
    width: 100vw;
    height: 100%;
    background: #2A2D36;
  }

  .container {
    margin: 50px auto 0px;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 500px;
    background: #181A20;
    border-radius: 10px;
  }
}